/*//////////////////////////////////////////////////////////////////////////////////////////
// Original authors: https://www.youtube.com/watch?v=T7PnWnTgusc&t=1089s&ab_channel=JulioCodes 
//                   https://www.youtube.com/watch?v=y0Ic8QcvyK8&ab_channel=Codegrid
//                   https://www.youtube.com/watch?v=vc9rgFHr098&list=WL&index=2&ab_channel=WEBCIFAR
// Modified by: Aritz Lizoain
// Github: https://github.com/aritzLizoain
// My personal website: https://aritzlizoain.github.io/
// Description: Personal website
// Copyright 2020, Aritz Lizoain.
// License: MIT License
//////////////////////////////////////////////////////////////////////////////////////////*/

/* -----------------------------------------------------GLOBAL--------------------------------------------------------------- */
/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: url("images/Background.jpg") no-repeat center fixed;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #eee;
}

section{
    padding: 6rem 0;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;   
}
/*End global*/

/* ----------------------------------------------------REUSABLE---------------------------------------------------------------- */
/*Start reusable*/
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    font-family: 'Permanent Marker', cursive; 
    background: linear-gradient(to top, #24c8f0, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.9);
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1.05rem;
}

.section-heading h6{
    font-size: 1.6rem;
    color: rgba(255,255,255, .6);
    font-weight: 400;
}

.has-margin-right{
    margin-right: 5rem;
}
/*End reusable*/

/* ----------------------------------------------------WRAPPER---------------------------------------------------------------- */
/*Start wrapper*/
.wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

path {
    stroke: #fff; 
    fill: url(#MyGradient);
    stroke-dasharray: 1500;
    opacity: 10;
    animation: animate0 3s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate0{
    0% {
        opacity: 0;
        fill: none; 
        stroke-dashoffset: 1500;
    }

    30% {
        opacity: 10;
        fill: none; 
        stroke-dashoffset: 1500;
    }

    90% {
        fill: rgba(255, 255, 255, 0); 
    }

    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1); 
        stroke-dashoffset: 0;
    }

}

/*End wrapper*/

/* -----------------------------------------------------HEADER--------------------------------------------------------------- */
/*Start header*/
header{
    width: 100%;
    height: 100vh;
}

.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #000000;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
    opacity: .95;
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header li{
    margin: 0 4rem;
}

.nav-link{
    font-family: 'Permanent Marker', cursive; 
    font-size: 3rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #24c8f0, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3000;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #24c8f0, #fd57bf);
    width: 100%;
    height: 5px; 
    border-radius: .8rem; 
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-0.8rem);
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 17rem;
    font-family: 'Permanent Marker', cursive; 
    background: linear-gradient(to top, #24c8f0, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6{
    font-size: 2rem;
    font-weight: 600;
}
/*End header*/

/* ------------------------------------------------------ABOUT-------------------------------------------------------------- */
/*Start about*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;  
    line-height: 0;
    margin-bottom: 15rem;
}

.about-heading h1{
    font-size: 10rem;
    opacity: .3;
    font-family: 'Permanent Marker', cursive; 
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 3000;
}

.about p{
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
}

.about z{
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.25rem;
    color: #24c7f080;
}

.profile-img{
    flex: 1;
    margin-right: 5rem;
    height: auto;
    width: 25rem;
}

.about-details{
    flex: 1;
}

.social-media{
    margin-top: 6rem;
    margin-left: 15px;
}

.social-media i{
    font-size: 5rem;
    transition: color 650ms;
    margin-right: 2rem;
}

.fa-linkedin-in:hover{
    color:#2867B2;
}

.fa-github:hover{
    color: #663a82;
}

button{
    height: 60px;
    width: 200px;
    margin: 0 10px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #eee;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

button:hover{
    background: linear-gradient(90deg, #24c8f0, #fd57bf, #24c8f0); 
    background-size: 400%;
}

button::before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

button:hover:before{
    opacity: 1;
    z-index: -1;
}

button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
/*End about*/

/* -------------------------------------------------------PROJECTS----------------------------------------------------------- */
/*Start projects*/
.projects-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.projects-item:last-child{
    margin-bottom: 0;
}

.projects-img{
    flex: 1;
}

.projects-description{
    flex: 1;
}

.projects-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #24c8f0;
    transition: color 650ms;
}

.projects-description .cta:hover{
    background: linear-gradient(to top, #fd57bf,#fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.projects-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: .65;
}
/*End projects*/

/* -------------------------------------------------------EDUCATION---------------------------------------------------------- */
/*Start education timeline*/
.education ol{
    border-left: 4px solid #24c8f0; 
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 25rem;
    position: relative;
    padding: 5rem;
    list-style-type: none;
    text-align: left;
    width: 70%;
}

.education li{
    margin: 0 -8rem 0 2rem;
    margin-top: 1rem;
    list-style-type: disc;
}

.education .margin{
    margin: 0 6rem;
    margin-top: 1rem;
    list-style-type: circle;
}

.education h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0.5rem;
    margin-right: -5rem;
}

.education h6{
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-right: -5rem;
}

.education p{
    opacity: .8; 
    margin-right: -5rem;
}

.education .date{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    list-style-type: none;
}

.education .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.education .date::before,
.education .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.education .date::before{
    left: -25.5rem;
    text-align: right;
    min-width: 14rem;
    font-size: 1.7rem;
    content: attr(data-date) '\A' attr(location);
    white-space:pre;
}

.education .location{
    position: relative;
    text-align: right;
    min-width: 12rem;
    flex: 1;
}

.education .date::after{
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    border-radius: 100%;
    left: -7.9rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313531;
}

.education .date a{
    left: -30rem;
}
/*End education timeline*/

/* --------------------------------------------------------SKILLS------------------------------------------------------------ */
/*Start skills*/
.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.2);
    animation: animate1 1.8s linear infinite;
}

@keyframes animate1{
    0%{
        background-position: -500%;
    }
    100%{
        background-position: 500%;
    }
}

.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #fd57bf;  
    background-color: #000000;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i{
    color: #24c8f0; 
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}
/*End skills*/

/* --------------------------------------------------------LANGUAGES------------------------------------------------------------ */
/*Start languages*/
.my-languages{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.language{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.language h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.2);
    animation: animate2 1.8s linear infinite;
}

@keyframes animate2{
    0%{
        background-position: -500%;
    }
    100%{
        background-position: 500%;
    }
}

.language-icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #fd57bf;  
    background-color: #000000;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.language-icon-container i{
    color: #24c8f0; 
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}
/*End languages*/

/* --------------------------------------------------------CONTACT---------------------------------------------------------- */
/*Start contact*/
.contact{
    background-color: #000000
}

form{
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf;
}

input[type="submit"]{
    width: initial;
    background-color: #24c8f0;
    color: #000000;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover{
    color: #ffffff;
    background-color: #fd57bf; 
}

#status{
    text-align: center;
    font-size: 1.8rem;
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 8px;
}

#status.success{ 
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error{
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}
/*End contact*/

/* --------------------------------------------------------FOOTER------------------------------------------------------------ */
/*Start footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #000000;
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{
    color: #000000;
    font-size: 2rem;
    margin: auto;
    cursor: pointer;
}

.copyright p{
    font-size: 1.4rem;
}
/*End footer*/

/* -------------------------------------------------------ANIMATIONS--------------------------------------------------------- */
/*Start animations*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
/*End animations*/

/* ---------------------------------------------------MEDIA QUERIES----------------------------------------------------------- */
/*Start media queries*/

@media screen and (max-width: 1267px) {
    .nav-link{
        font-size: 2rem;
    }

    .about-heading{
        margin-bottom: 10rem;
    }

    header li{
        margin: 0 2rem;
    }

    .education li{
        margin: 0 0rem 0 2rem;
    }
   
}

@media screen and (max-width: 768px) {
    body{
        background: url("images/Background2.jpg") no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1{
        font-size: 15rem;
    }

    .landing-text h6{
        font-size: 1.7rem;
    }

    .nav-list{
        flex-direction: column;
    }

    header li{
        margin: 2.5rem 0rem;
    }

    .nav-link{
        font-size: 2.5rem;
    }

    .about-heading{
        margin-bottom: 7rem;
    }

    .about-heading h1{
        font-size: 8rem;
    }

    .about p{
        margin-left: 20px;
        margin-right: 20px;
        flex: 1;
    }

    .section-heading h1{
        font-size: 3rem;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .about-details li{
        margin: 0rem 0rem;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;
    }

    .icon-container i{
        font-size: 4rem;
    }

    .language-icon-container{
        width: 7rem;
        height: 7rem;
    }

    .language-icon-container i{
        font-size: 4rem;
    }

    .education .date::before{
        left: -22.5rem;
    }

    .education .date::after{
        left: -4.9rem;
    }
    
    .education h6{
        margin-right: -1rem;
    }

    .education ol{
        margin: 0 18rem;
        padding: 2rem;
    }
    
    .education li{
        margin: 0 -1rem 0 2rem;
    }
    
    .education .margin{
        margin: 0 5rem;
    }    
}

@media screen and (max-width: 600px) {
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 8rem;
    }

    .landing-text h6{
        font-size: 1.4rem;
    }

    header li{
        margin: 2.5rem 0rem;
    }

    .nav-link{
        font-size: 2.5rem;
    }

    .about .container{
        flex-direction: column;
    }

    .about p{
        margin-left: 20px;
        margin-right: 20px;
        flex: 1;
    }

    .profile-img{
        margin: 0 0 7rem 0;
    }

    .projects-item{
        flex-direction: column;
    }

    .projects-img{
        margin: 0 0 2rem 0;
        order: 1;
    }

    .projects-description{
        margin: 0;
        order: 2;
    }

    .education p{
        font-size: 1.6;
        margin-right: -1rem;
    }

    .education .date::before{
        left: -20.5rem;
        font-size: 1.4rem;
    }
    
    .education h6{
        font-size: 1;
        margin-right: -7.6rem;
    }

    .education h1{
        margin-right: 0rem;
    }

    .education ol{
        margin: 0 14rem;
    }

    .education li{
        margin: 0 3rem 0 2rem;
    }
    
    .education .margin{
        margin: 0 5rem;
    } 

    form{
        width: 100%;
    }

    .up{
        right: 2rem;
    }
}

/*End media queries*/
